<%= form_with( model: @word, local: true ,url: confirm_words_path ) do |form| %>
<% if @word.errors.any? %>
        <div id="error_explanation">
            <h2><%= @word.errors.count %>件のエラーがあります。</h2>
            <ul>
            <% @word.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
  <div class="word_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit "確認" %>
<% end %>
<%= link_to "一覧にもどる", words_path %>